/* nul */
html {
  box-sizing: border-box;
  background: #F1F1F1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #666666;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Muller";
  src: local("MullerReguliar"), url("../fonts/MullerRegular.woff2") format("woff2"),
  url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerLight"), url("../fonts/MullerLight.woff2") format("woff2"),
  url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerBold"), url("../fonts/MullerBold.woff2") format("woff2"),
  url("../fonts/MullerBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1170px;
  font-family: "Muller", sans-serif;
}

h1 {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
  padding: 0;
}

.title-h3 {
  margin: 0;
  padding: 0;
}

.nulling-p {
  margin: 0;
  padding: 0;
}

/* global*/


.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.flex {
  display: flex;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding: 13px 20px;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
}

.button:hover, .button:focus-visible {
  color: #FFFFFF;
  outline: 0;
  border-radius: 10px;
  border: 1px solid #C93;
  background: #C93;
}

.button:active {
  color: #FFFFFF;
  outline: 0;
  border-radius: 10px;
  border: 1px solid #A47312;
  background: #A47312;
}


.section-title {
  text-indent: 45px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

/* header*/
header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-container {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-logo {
  margin-right: 40px;
}

.header-logo:focus-visible {
  outline: 1px solid #C93;
  outline-offset: 2px;
}

.container-logo {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header-cabinet {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 155px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
}

.header-cabinet:hover path, .header-cabinet:hover {
  color: #F0BF5F;
  fill: #F0BF5F;
}

.header-cabinet:focus-visible {
  color: #C93;
  outline: 0;
  outline: 1px solid #C93;
  outline-offset: 2px;
}

.header-cabinet:active path, .header-cabinet:active {
  color: #A47312;
  fill: #A47312;
}


.header-list {
  margin: 0;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px; /* identical to box height */
  color: #666666;
}

.nav-link:hover {
  color: #C93;
}

.nav-link:focus-visible {
  color: #C93;
  outline: 0;
  outline: 1px solid #C93;
  outline-offset: 2px;
}

.nav-link:active {
  color: #A47312;
}


.container-logo {
  width: 1170px;
  align-items: center;
  margin-bottom: 30px;
}

.contact-link {
  margin-right: auto;
  color: #666;
  font-size: 20px;
  font-weight: 500;
}

.contact-link:hover {
  color: #C93;
}

.contact-link:focus {
  color: #C93;
  outline: 0;
  outline: 1px solid #C93;
  outline-offset: 2px;
}

.contact-link:active {
  color: #A47312;
}

.padding-cabinet {
  padding-left: 5px;
}

.container-nav {
  font-size: 0;
  background: #FFFFFF;
  width: 1170px;
  min-height: 70px;
  margin: 0;
  padding: 14px 45px 14px 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.header-nav {
  margin-right: 114px;
}


.btn-callback {
  margin: 0;
  white-space: nowrap;
}


/*main*/

/* special */

.container-special {
  min-height: 600px;
  flex-direction: column;
}

.special {
  width: inherit;
  margin-bottom: 70px;
}

.special-content {
  width: inherit;
  min-height: 540px;
}

.spacial-block {
  flex-direction: column;
  justify-content: center;
}

.special-item {
  align-items: flex-start;
  width: 573px;
  min-height: 258px;
  padding: 40px 45px;
  border-radius: 15px;
  flex-direction: column;
  flex: 1;
  position: relative;
}


.special-title-card {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}

.special-item-left {
  min-height: 258px;
}

.special-block {
  flex-direction: column;
  min-height: 100%;
}

.special-block:not(:last-child) {
  margin-right: 24px;
}

.special-item-left:not(:nth-child(2n)) {
  margin-bottom: 24px;
}

.special-block-right {
  position: relative;
}

.special-item-right {
  justify-content: flex-end;
  min-height: 100%;
  margin: 0;
}

.special-title-card-right {
  font-size: 60px;
  line-height: 60px;
}

.special-cost {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
}

.special-cost-right {
  font-size: 30px;
  line-height: 30px;
}


.img-spec-1 {
  background-image: url("../img/special-maldiv.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-spec-2 {
  background-image: url("../img/special-krit.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-spec-3 {
  background-image: url("../img/special-lux.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-special {
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
}


/* oboutUs*/
.aboutUs {
  margin-bottom: 70px;
}

.aboutUs-descr {
  width: 888px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%; /* or 32px*/
  color: #000000;
}

/* services */
.services {
  margin-bottom: 70px;
}

.btn-services:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid #C93;
  outline-offset: 8px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.btn-services:focus-visible {
  outline: 0;
}

.btn-services:focus-visible:before {
  opacity: 1;
}

.btn-services:hover svg{
  transform: translateX(5px);

}

.btn-services:hover h3{
  color: #F0BF5F;

}

.btn-services:hover path {
  stroke: #F0BF5F;
}

.btn-services:active h3{
  color: #A47312;
}

.btn-services:active path{
  stroke: #A47312;
}



.title-services {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
  align-items: center;
}


.services-list {
  flex-wrap: wrap;
}

.services-list-item {
  width: 573px;
  min-height: 330px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  padding: 191px 126px 35px 45px;
  margin-bottom: 24px;
  background-color: #FFFFFF;
}

.accom-text-margin {
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;
}

.accom-text-2margin {
  margin-bottom: 16px;
}

.services-list-item:not(:nth-child(2n)) {
  margin-right: 24px;
}


.services-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.img-serv1 {
  background-image: url("../img/services-exclusiv.png");
  background-size: 573px 165px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.img-serv2 {
  background-image: url("../img/services-banket.png");
  background-size: 573px 165px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.img-serv3 {
  background-image: url("../img/services-fitnees.png");
  background-size: 573px 165px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.img-serv4 {
  background-image: url("../img/services-parking.png");
  background-size: 573px 165px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.title-padding {
  padding-right: 5px;
}

.btn-special:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid #C93;
  outline-offset: 8px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.btn-special:focus-visible {
  outline: 0;
}

.btn-special:focus-visible:before {
  opacity: 1;
}

.btn-special:hover svg {
  transform: translateX(5px);
}

svg {
  transition: transform .2s ease-in-out;
}

.btn-special:active {
  color: #FFFFFF;
}

/* advantages */

.advantages {
  margin-bottom: 70px;
}

.advantages-list {
  flex-wrap: wrap;
}

.advantages-list-item {
  width: 276px;
  min-height: 276px;
  margin-bottom: 22px;
  border-radius: 15px;
  background-color: #FFFFFF;
  padding: 116px 42px 32px 45px;
}

.advantages-list-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantages-title {

}

.advantag-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%; /* or 32px */
  color: #000000;
}

.image-adv-1 {
  background-image: url("../img/advantag1.png");
  background-repeat: no-repeat;
  background-size: 64px 66px;
  background-position: 21% 20%;
}

.image-adv-2 {
  background-image: url("../img/advantag2.png");
  background-repeat: no-repeat;
  background-size: 64px 66px;
  background-position: 21% 20%;
}

.image-adv-3 {
  background-image: url("../img/advantag3.png");
  background-repeat: no-repeat;
  background-size: 64px 66px;
  background-position: 21% 20%;
}

.image-adv-4 {
  background-image: url("../img/advantag4.png");
  background-repeat: no-repeat;
  background-size: 64px 66px;
  background-position: 21% 20%;
}

.image-adv-5 {
  background-image: url("../img/advantag5.png");
  background-repeat: no-repeat;
  background-size: 64px 66px;
  background-position: 21% 20%;
}

.image-adv-6 {
  background-image: url("../img/advantag6.png");
  background-repeat: no-repeat;
  background-size: 64px 66px;
  background-position: 21% 20%;
}

.image-adv-7 {
  background-image: url("../img/advantag7.png");
  background-repeat: no-repeat;
  background-size: 64px 66px;
  background-position: 21% 20%;
}

.image-adv-8 {
  background-image: url("../img/advantag8.png");
  background-repeat: no-repeat;
  background-size: 64px 66px;
  background-position: 21% 20%;
}

/* accommodate */

.accommodate {
  margin-bottom: 70px;
}

.accommodate-list {
  flex-wrap: wrap;
}

.stars-padding {
  padding-right: 53px;
}

.accommodate-list-item {
  width: 374px;
  min-height: 440px;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 24px;
  padding: 249px 45px 45px 45px;
  flex-direction: column;
  align-items: flex-start;
}

.accommodate-list-item-last {
  width: 374px;
  min-height: 440px;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  border-radius: 15px;
  margin-bottom: 24px;
  padding: 373px 45px 27px 54px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.accommodate-list-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.accommodate-app {
  margin-bottom: 16px;
  color: #000;
  font-size: 16px;
}

.accomm-other-var {
  font-size: 20px;
  line-height: 200%; /* identical to box height, or 40px */
  color: #FFFFFF;
  padding-right: 5px;
}

.accomm-see-other-var {
  align-items: center;
}

.accomm-see-other-var:hover svg{
  transform: translateX(5px);
}

.accomm-see-other-var:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid #C93;
  outline-offset: 8px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.accomm-see-other-var:focus-visible {
  outline: 0;
}

.accomm-see-other-var:focus-visible:before {
  opacity: 1;
}

.accomm-see-other-var:active {

}

.accom-coin {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px; /* identical to box height */
  color: #000000;
}

.accom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px; /* identical to box height */
  color: #999999;
  margin-bottom: 16px;
}

.accom-text2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px; /* identical to box height */
  color: #999999;
  margin-bottom: 20px;
}


.star-w {
  width: 14px;
  height: 14px;
}

.img-accomm-1 {
  background-image: url("../img/img-accomm-1.png");
  background-repeat: no-repeat;
  background-size: 374px 217px;
  background-repeat: no-repeat;
}

.img-accomm-2 {
  background-image: url("../img/img-accomm-2.png");
  background-repeat: no-repeat;
  background-size: 374px 217px;
  background-repeat: no-repeat;
}

.img-accomm-3 {
  background-image: url("../img/img-accomm-3.png");
  background-repeat: no-repeat;
  background-size: 374px 217px;
  background-repeat: no-repeat;;
}

.img-accomm-4 {
  background-image: url("../img/img-accomm-4.png");
  background-repeat: no-repeat;
  background-size: 374px 217px;
  background-repeat: no-repeat;
}

.img-accomm-5 {
  background-image: url("../img/img-accomm-5.png");
  background-repeat: no-repeat;
  background-size: 374px 217px;
  background-repeat: no-repeat;
}

.img-accomm-6 {
  background-image: url("../img/img-accomm-6.png");
  background-repeat: no-repeat;
  background-size: 374px 217px;
}

.img-accomm-7 {
  background-image: url("../img/img-accomm-7.png");
  background-repeat: no-repeat;
  background-size: 374px 217px;
}

.img-accomm-8 {
  background-image: url("../img/img-accomm-8.png");
  background-repeat: no-repeat;
  background-size: 374px 217px;
}

.img-accomm-9 {
  background-image: url("../img/img-accomm-9.png");
  background-repeat: no-repeat;
}


/* I want tur */

.form {
  padding: 31px 28px;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.form-left {
  background-color: #FFFFFF;
  /*justify-content: space-between;*/
  align-items: center;
  margin-right: 51px;

}


.i-want-tur {
  margin-bottom: 70px;
}

.i-want-tur-container1 {

}

.i-want-tur-container {
  min-height: 256px;
  padding: 45px 45px 45px 45px;
  border-radius: 15px;
  background-color: #E9E9E9;
}

.list-item-i-want-tur:not(:last-child) {
  margin-right: 41px;
}

.i-want-tur-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px; /* identical to box height */
  color: #000000;
}

.list-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px; /* identical to box height */
  color: #000000;
  margin-bottom: 15px;
}

.want-tur-title {
  margin-bottom: 20px;
  text-indent: 0;
}


/* contacts */

.contacts {

}

.contact-title {
  margin-bottom: 20px;
}


.contact-container {
  margin-bottom: 40px;
}

.btn-contacts {
  padding: 27px 30px;
  bottom: 0;
}

.contacts-address {
  padding: 45px 45px 45px 45px;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 20px; /* identical to box height */
  color: #000000;
  background: #FFFFFF;
  border-radius: 15px;
}

.contacts-address-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%; /* or 24px */
  color: #000000;
  width: 230px;
  height: 50px;
  flex: 2;
}

.contact-left-items {
  flex-direction: column;
  margin-bottom: 45px;
}

.contact-left-block {
  flex: 1;
  width: 375px;
  min-height: 528px;
  padding-right: 53px;
}

.contact-item {
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 23px;
}

.contact-item:not(:last-child) {
  margin-bottom: 25px;
}

.contact-address {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px; /* identical to box height */
  color: #000000;
  width: 145px;
  flex: 1;
}

.contact-phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%; /* identical to box height, or 24px */
  color: #CC9933;
  max-width: max-content;
}

/*.contact-phone:nth-child(1n){*/
/*  margin-bottom: 15px;*/
/*}*/

.contacts-phone {
  flex-direction: column;
  flex: 2;
}

.contact-phone:hover {
  color: #F0BF5F;
}

.contact-phone:focus {
  color: #C93;
  outline: 1px solid #C93;
  outline-offset: 2px;
}

.contact-phone:active {
  color: #A47312;
}

.contact-right-block {
  min-width: 653px;
  min-height: 528px;
  background-image: url("../img/Layer-2-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-mail {
  flex-direction: column;
  flex: 2;
}

.contact-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%; /* identical to box height, or 24px */
  color: #CC9933;
  flex-direction: column;
  max-width: max-content;
}


.contact-mail:hover {
  color: #F0BF5F;
}

.contact-mail:focus {
  color: #C93;
  outline: 0;
  outline: 1px solid #C93;
  outline-offset: 2px;
}

.contact-mail:active {
  color: #A47312;
}

/* footer */

.container-footer {
  width: 1170px;
  min-height: 341px;
  border-radius: 15px;
  margin-bottom: 40px;
  padding: 45px;
  background: #333333;
}

.container-footer-left {
  flex-direction: column;
  width: 302px;
  margin-right: 125px;
}

.footer-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 190%; /* or 30px */
  color: #FFFFFF;
  margin-bottom: 40px;
}

.footer-descr-center {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px; /* identical to box height, or 188% */
  color: #FFFFFF;
  min-height: 30px;
  margin-bottom: 15px;
}

.footer-agree {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%; /* identical to box height, or 24px */
  color: #CC9933;
  justify-content: flex-end;
}

.container-footer-center {
  flex-direction: column;
  width: 753px;
  min-height: 256px;
  margin-right: auto;
}

.phone {
  margin-bottom: 15px;
  flex-direction: column;
  max-width: max-content;
}

.mail {
  flex-direction: column;
  max-width: max-content;
}

.social-link {
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: flex-end;
}

.social-link:hover path,
.social-link:focus-visible path{
  fill: #CC9933;
  /*transform: scale(1.1) translate(-1px, -1px);*/
}


.social-link {
  outline: 0;
}

.social-link:active path{
  fill: #A47312;
}

.social-item:not(:last-child) {
  margin-bottom: 20px;
}

.social {
  flex-direction: column;
}

.social-link-sova {
  background-image: url("../img/sova.png");

}

.social-link-ok {
  background-image: url("../img/ok.png");
}

.social-link-vk {
  background-image: url("../img/vk.png");
}

.img-solar {
  background-image: url("../img/solnce-1.png");
  background-repeat: no-repeat;
  background-size: 255px 228px;
  background-position: 739px bottom;
}

.btn-i-want-tur {
  white-space: nowrap;
  padding: 13px 30px;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}

.list-select1 {
  width: 170px;
  min-height: 45px;
  border: none;
}

.list-select2 {
  width: 121px;
  min-height: 45px;
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}


/*  hover focus active    */


/*_____________________________________________________*/


/*_____________________________________________________*/

